@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital:wght@0,40..700:1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behaviour: smooth;
}
body {
    font-family: 'Lora', serif;
    background-color: #091528;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #EEF2F9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-bottom: 40px;
    padding-top: 5px;
}

header {
    color: #EEF2F9;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    line-height: 0.8;
    align-items: center;
}
footer {
    line-height: 1;
}
h1 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 15px;
    line-height: 0.5;
    color: #F1D274;
    width: 100%;
    text-indent: 10px;
}
h2 {
    font-family: "Lora", serif;
    font-size: 10px;
    font-weight: 100;
    color: #F1D274
}
p1 {
    margin-top: 0px;
    font-family: "Lora", serif;
    font-size: 10px;
}
p {
    margin-top: 0px;
    font-family: "Lora", serif;
    font-size: 8px;
    color: #EEF2F9;
}
p2 {
    margin-top: 0px;
    font-family: "Lora", serif;
    font-size: 1rem;
    color: #091528;
}
main {
    line-height: 1.5;
    padding: 2rem;
}
h3 {
    font-family: "Lora", serif;
    font-size: 2rem;
    font-weight: 100;
    color: #091528
}
h4 {
    font-family: "Lora", serif;
    font-size: 10px;
    font-weight: 100;
    color: #EEF2F9
}
.logo {
    width: 3rem;
    height: auto;
    position: absolute;
    left: 10px;
    top: 20px
}

section {
    margin-bottom: 5px;
}

#button-1 {
    background-color: #091528;
    font-family: "Lora", serif;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
#button-1:hover {
    background-color: #091528;
}
#button-2 {
    background-color: #091528;
    font-family: "Lora", serif;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
#button-2:hover {
    background-color: #091528;
}
h1 a {
    color: inherit; 
    text-decoration: none; 
    display: block;
}
h1 a:hover {
    text-decoration: underline; 
    opacity: 0.9; 
}
h2 a {
    color: inherit; 
    text-decoration: none;
    display: inline-block;
}
h2 a:hover {
    text-decoration: underline; 
    opacity: 0.9; 
}
.text-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.banner {
    background-color: #0A1628;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    max-width: none;
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: 0px 8px 15px -5px #F1D274;
    transition: transform 0.3s ease-in-out;
}
.banner.hide {
    transform: translateY(-100%);
}
.banner-content {
    width: 100%;
}
.footer-banner {
    background-color: #0A1628;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    max-width: none;
    position: fixed;
    justify-content: start;
    align-items: left;
    text-align: left;
    margin: 0;
    padding: 0;
    border-radius: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0px -8px 15px -5px #F1D274;
}
.footer-head {
    margin-left: 10px;
    margin-top: 5px;
}

.footer-info {
    margin-left: 10px;
    margin-top: 5px;
}

.copyright {
    margin-left: 10px;   
    margin-top: 5px;
}

.form-book {
    background-color: #091528;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}